@media only screen and (max-width: 600px) {
#restaurants-list {
  height: auto;
  padding: 15px;
  border-width: 15px;
  margin-left: 0px;
  margin-right: 25px;
}
@media only screen and (max-width: 600px) {
#restaurant-container {
  display: flex;
  flex-flow: column;
  width: 100%;
}
@media only screen and (max-width: 600px) {
#reviews-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media only screen and (max-width: 600px) {
.inside #footer {
  width: 90%;
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  position: absolute;
}
@media only screen and (max-width: 600px) {
#restaurant-hours td {
  padding-left: 15px;
}
@media only screen and (max-width: 600px) {
#restaurant-img {
  width: 75%;
  align-self: center;
  margin-bottom: 5px;
}
@media only screen and (max-width: 600px) {
.inside #map-container {
  width: 360px;
  height: 300px;
  position: absolute;
}
@media only screen and (max-width: 600px) {
#breadcrumb {
  width: 100%;
  height: 25px;
  padding: 1px;
  font-size: 20px;
  align-items: center;
}
@media only screen and (max-width: 600px) {
nav {
  height: 60px;
}
@media only screen and (max-width: 600px) {
#restaurant-name {
  margin-top: 250px;
}
@media only screen and (max-width: 600px) {
h2 {
  text-align: center;
}
